{% extends "DiliAdminBundle::layout.html.twig" %}

{% block title %}Munkavégzők{% endblock %}

{% block container %}
    <h1>Munkavégzők</h1>

    {#<table class="table table-striped table-condensed">#}
        {#<tr>#}
            {#&#123;&#35; sorting of properties based on query components &#35;&#125;#}
            {#&#123;&#35;<th{% if pagination.isSorted('u.id') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, '#', 'u.id') }}</th>&#35;&#125;#}
            {#&#123;&#35;<th{% if pagination.isSorted('u.name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Név', 'u.name') }}</th>&#35;&#125;#}
            {#&#123;&#35;<th{% if pagination.isSorted('u.cardNumber') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Kártyaszám', 'u.cardNumber') }} </th>&#35;&#125;#}
            {#&#123;&#35;<th{% if pagination.isSorted('u.status') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Aktív', 'u.status') }} </th>&#35;&#125;#}
            {#&#123;&#35;<th></th>&#35;&#125;#}
        {#</tr>#}
        {#&#123;&#35; table body &#35;&#125;#}
        {#{% for user in pagination %}#}
            {#<tr {% if loop.index is odd %}class="color"{% endif %}>#}
                {#<td>{{ user.id }}</td>#}
                {#<td>{{ user.name }}</td>#}
                {#<td>{{ user.cardNumber }}</td>#}
                {#<td>{% if user.status == constant('Timelog\\AdminBundle\\Entity\\User::STATUS_ACTIVE') %}#}
                        {#<i class="glyphicon glyphicon-ok"></i> {% endif %}</td>#}
                {#<td><a href="{{ path('user_edit', {'id': user.id} ) }}" rel="tooltip" data-original-title="Módosít">#}
                        {#<i class="glyphicon glyphicon-pencil"> </i> </a></td>#}
            {#</tr>#}
        {#{% endfor %}#}
        {#{% if results[0] is not defined %}#}
            {#<tr>#}
                {#<td><i>Nincs találat.</i></td>#}
                {#<td></td>#}
                {#<td></td>#}
                {#<td></td>#}
                {#<td></td>#}
            {#</tr>#}
        {#{% endif %}#}
    {#</table>#}
    {#&#123;&#35; display navigation &#35;&#125;#}

    {#{{ knp_pagination_render(pagination) }}#}


{% endblock %}


{% block rightbar %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Műveletek</h3>
        </div>
        <a href="#">
            <div class="panel-body">
                <i class="glyphicon glyphicon-plus"> </i>
                Új munkavégző hozzáadása
            </div>
        </a>
    </div>

    <div class="panel panel-default search-form">
        <div class="panel-heading">
            <h4><i class="glyphicon glyphicon-search"> </i> Keresés</h4>
        </div>
        <div class="panel-body">
            {#<form class="row-fluid" action="#" method="post"#}
                  {#novalidate="novalidate" {{ form_enctype(searchform) }}>#}
                {#<div class="form-group">#}
                    {#&#123;&#35;{{ form_widget(searchform) }}&#35;&#125;#}
                {#</div>#}
                {#<div class="middlebtn">#}
                    {#<input type="submit" class="btn btn-primary btn-sm" name="Keresés" value="Keresés"/>#}
                    {#<a class="btn btn-default btn-sm" href="#">Alapállapot</a>#}
                {#</div>#}
            {#</form>#}
        </div>
    </div>
{% endblock %}